<div class="catalogo-layout">
  <header class="catalogo-header">
    <h2 class="titulo-seccion">Catálogo de Obras</h2>
  </header>
  <main class="grid-area">
    <div *ngIf="cargando" class="loading-container">
      <div class="spinner-square"></div>
      <p>Recuperando archivo...</p>
    </div>
    <div *ngIf="error" class="error-container">
      <div class="error-icon">!</div>
      <p>{{ error }}</p>
      <button class="btn-retry">Intentar nuevamente</button>
    </div>
    <app-list-card *ngIf="!cargando && !error" [libros]="libros"></app-list-card>
  </main>
</div>